*
{
    padding: 0;
    margin: 0;
}
body
{
    width: 1600px;
    background: url(../img/bg.png) repeat-x;
}
.clearfix:before,
.clearfix:after /*高度塌陷*/
{
    content: "";
    display: table;
    clear: both;
}
.w
{
    width: 940px;
    margin: 0 auto;
}
.logo
{
    margin-left: 15px;
    margin-bottom: 46px;
}
.header
{
    padding-top: 37px;
}
.nav
{
    float: right;
    margin-top: 22px;
}
.nav ul
{
    list-style: none;
}
.nav li
{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-left: #d6d6d6 1px dotted;
}
.nav a
{
    color: #666;
    text-decoration: none;
    font: bold 14px Georgia;
}
.nav p
{
    color: #b7b7b7;
    font: 11px Tahoma;
}
.banner
{
    height: 355px;
    background: url(../img/shadow.png) no-repeat bottom center;
    position: relative;
}
.pointerDiv
{
    position: absolute;
    top: 314px;
    left: 15px;
}
.pointerDiv a
{
    margin-left: 4px;
    float: left;
    height: 17px;
    width: 17px;
    background: url(../img/pointer.png) no-repeat;
}
.pointerDiv .active, .pointerDiv a:hover
{
    background: url(../img/pointer_.png) no-repeat;
}

.content h1
{
    text-align: center;
    font: bold 24px Georgia;
    padding: 6px 0 20px 0;
    background: url(../img/break.png) bottom center no-repeat;
}
.column
{
    width: 300px;
    float: left;
}
#c2
{
    margin-left: 20px;
    margin-right: 20px;
}
.content .column h2
{
    color: #117191;
    font: 21px Georgia;
}

.content .column .subtitle
{
    color: #8c8c8c;
    font: 12px Helvetica;
}

.imgcontainer
{   
    width: 290px;
    height: 192px;
    background: url(../img/img-bg.png) no-repeat;
    margin-top: 16px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 12px;
}
.column .text
{
    height: 92px;
    color: #3e3e3e;
    font: 13px Helvetica;
}
.btn
{
    width: 163px;
    height: 40px;
    margin-bottom: 35px;
    display: block;
    font: 12px/40px Helvetica;
    text-indent: 1em;
    text-decoration: none;
    color: #016999;
    background: url(../img/button.png) no-repeat;
}
#contact .column
{
    height: 100px;
}