*
{
    padding: 0;
    margin: 0;
}
body
{
    width: 1600px;
    background: url(../img/bg.png) repeat-x;
}
.w
{
    width: 940px;
    margin: 0 auto;
}
.logo
{
    margin-left: 15px;
    margin-bottom: 46px;
}
.header
{
    padding-top: 37px;
}
.nav
{
    float: right;
    margin-top: 22px;
}
.nav ul
{
    list-style: none;
}
.nav li
{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-left: #d6d6d6 1px dotted;
}
.nav a
{
    color: #666;
    text-decoration: none;
    font: bold 14px Georgia;
}
.nav p
{
    color: #b7b7b7;
    font: 11px Tahoma;
}
.banner
{
    height: 355px;
    background: url(../img/shadow.png) no-repeat bottom center;
    position: relative;
}
.pointerDiv
{
    position: absolute;
    top: 314px;
    left: 15px;
}
.pointerDiv a
{
    margin-left: 4px;
    float: left;
    height: 17px;
    width: 17px;
    background: url(../img/pointer.png) no-repeat;
}
.pointerDiv .active, .pointerDiv a:hover
{
    background: url(../img/pointer_.png) no-repeat;
}