a
{
    text-decoration : none;
}
#navfirst
{
    background-color:black;
    height: 48px;
    width:  100%;
    margin: 0 0 0 0;
    padding: 0;
    border: 0;
}
ul#games
{
    color: white;
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
}
ul#games li
{
    float: left;
    width: 200px;
    height: 40px;
    overflow: hidden;
    margin-top: 12px;
}
#S_head
{
    margin-top: 12px;
    margin-left: 300px;
}
.title
{
    text-align: center;
}
.sub
{
    text-align: center;
}
.price
{
    text-align:center;
}